<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>31696.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
      <key>32696.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
      <key>33696.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
      <key>34696.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
      <key>35696.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
      <key>38696.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{126,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>sourceSize</key>
        <string>{126,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>696_cn.png</string>
      <key>size</key>
      <string>{504,498}</string>
      <key>textureFileName</key>
      <string>696_cn</string>
    </dict>
  </dict>
</plist>
